@import "../../Styles/variables.scss";

main{
	display: flex;
	flex-direction: column;
	
}
.newsList{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.newsCounter{
	display: flex;
	border-bottom: 1px solid #c0c0c0;
	margin: 0px 0px 45px 0px;
	font-weight: 600;
   font-size: 16px;
	color: $textColor;
}

@media (max-width:1300px){
	.newsList{
	justify-content: space-around;
	}
}

@media (max-width:825px){
	.newsList{
	justify-content: center;
	}
}

